**/__pycache__
**/.venv
**/.env
**/.git
**/.gitignore
**/.vscode
**/bin
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/*.db
**/*.db-shm
**/*.db-wal
**/.ruff_cache
**/.pytest_cache
**/.playwright-cli
**/.impeccable
**/.sisyphus
**/tmp
LICENSE
README.md
