# Server
SERVER_HOST=
SERVER_PORT=8080

# Database
DATABASE_PATH=config/bragibooks.db

# m4b-merge
M4B_MERGE_BINARY=m4b-merge

# Audiobookdb API key (optional)
API_KEY_API_KEY=
API_KEY_BASE_URL=https://audiobookdb.org/api

# Directories
DIRECTORIES_INPUT_DIR=/input
DIRECTORIES_OUTPUT_DIR=/output
DIRECTORIES_COMPLETED_DIR=/input/done

# Processing
PROCESSING_NUM_CPUS=1
PROCESSING_PATH_FORMAT={author}/{title}
PROCESSING_REGION=us
