{% extends "base.html" %}
{% block content %}
<div class="columns">
    <div class="column">
        <div class="content">
            <blockquote>
                Browser signin is currently not implemented. 
                If you are running this from Docker, follow the instructions below:
                <ol>
                    <li>
                        <p>Attach to container, this can be done with <pre>docker exec -it bragibooks /bin/bash</pre></p>
                    </li>
                    <li>
                        <p>Run <pre>m4b-merge --login</pre> and follow the onscreen login prompts</p>
                    </li>
                    <li>
                        <p>Once complete, go back to import page.</p>
                    </li>
                </ol>
                <a href="/" class="button is-link">Back to import</a>
            </blockquote>
        </div>
        <!-- <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    <p class="title">Login</p>
                </div>
            </div>
            <form action="/import/auth" method="POST">
                {% csrf_token %}
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="email" name="aud_email" placeholder="johnsmith@example.com">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" name="aud_pass">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">OTP (if enabled)</label>
                            <div class="control">
                                <input class="input" type="text" name="aud_otp">
                            </div>
                        </div>
                </div>
                <div class="card-content">
                <div class="card-footer">
                    <div class="card-footer-item">
                        <button class="button is-link">Next</button>
                    </div>
                </div>
            </form>
        </div> -->
    </div>
</div>
{% endblock %}