{% extends "base.html" %}
{% block content %}
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    <p class="title">Login</p>
                </div>
            </div>
            <form action="/import/get_auth" method="POST">
                {% csrf_token %}
                <div class="card-content">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="email" name="aud_email" placeholder="johnsmith@example.com">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" name="aud_pass">
                            </div>
                        </div>
                        <p class="subtitle">NOTE: If you have OTP enabled, you will need access to terminal</p>
                </div>
                <div class="card-footer">
                    <div class="card-footer-item">
                        <button class="button is-link">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}