<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bragi Books{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
          }
      
          .main-section {
            flex-grow: 1;
            margin-top: 30px;
            margin-bottom: 30px;
          }
      
          footer {
            margin-top: auto;
          }
          
          {% block style %}{% endblock %}
    </style>
</head>
<body class="has-background-warning-dark">
    <section class="hero is-small is-warning">
        <nav class="level">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <img src="{% static 'images/logo-small-black.svg' %}" width="64px" alt="">
                        </div>
                        <div class="level-item">
                            <p class="title">
                                Bragi Books
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="breadcrumb is-medium is-right" aria-label="breadcrumbs">
                {% with request.resolver_match.url_name as url_name %}
                <ul>
                    <li {% if url_name == 'import' %}class="is-active" aria-current="page"{% endif %}><a {% if url_name == 'import' %}class="has-text-weight-light"{% endif %} href="{% url 'import' %}">Import</a></li>
                    <li {% if url_name == 'match' %}class="is-active" aria-current="page"{% endif %}><a {% if url_name == 'match' %}class="has-text-weight-light"{% endif %} href="{% url 'match' %}">Match</a></li>
                    <li {% if url_name == 'books' %}class="is-active" aria-current="page"{% endif %}><a {% if url_name == 'books' %}class="has-text-weight-light"{% endif %} href="{% url 'books' %}">Books</a></li>
                    <li {% if url_name == 'setting' %}class="is-active" aria-current="page"{% endif %}><a {% if url_name == 'setting' %}class="has-text-weight-light"{% endif %} href="{% url 'setting' %}">Settings</a></li>
                </ul>
                {% endwith %}
            </nav>
        </nav>
    </section>
    <section class="main-section">
        <div class="container">
            {% if messages %}
            <div class="notification is-danger">
                <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="block"></div> 
            {% endif %}
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>
    <footer class="hero is-warning">
        <div class="hero-body has-text-centered">
            <p>
                Bragibooks v{{ bragibooks_version }} - 
                Django v{{ django_version }} - 
                m4b-merge v{{ m4b_merge_version }}
            </p>
        </div>
    </footer>
    <script>
        {% block script %}
        {% endblock %}
    </script>
</body>
</html>