<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bragi Books</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<section class="section has-background-grey-dark">
		<nav class="breadcrumb is-medium is-left" aria-label="breadcrumbs">
			<ul>
				<li><a href="/import">Import</a></li>
				<li><a href="/import/match">Match</a></li>
				<li class="is-active" aria-current="page"><a class="has-text-grey-lighter" href="/import/confirm">Confirm</a></li>
			</ul>
		</nav>
	</section>
	<section class="section has-background-warning-dark">
		<div class="container">
			{% if messages %}
			<div class="notification is-danger">
				<ul>
					{% for message in messages %}
					<li>{{message}}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="block"></div> 
			{% endif %}
		</div>
		<div class="container">
			<div class="columns">
				{% if this_book.asin %}
				<div class="column">
					<div class="box">
						<div class="content">
							<p><span class="has-text-weight-bold is-size-4">Title:</span> <span class="is-size-5"> {{ this_book.title }}{% if this_book.subtitle %} - {{ this_book.subtitle }}{% endif %}</span></p>
							<p><span class="has-text-weight-medium is-size-6">Author(s):</span> {{ this_book.authors}} </p>
							<p><span class="has-text-weight-medium is-size-6">Narrator(s):</span> {{ this_book.narrators}} </p>
							{% if this_book.series %}<p><span class="has-text-weight-medium is-size-6">Series:</span> {{ this_book.series }}</p>{% endif %}
							<p><span class="has-text-weight-medium is-size-6">Release Date:</span> {{ this_book.release_date }}</p>
							<p><span class="has-text-weight-medium is-size-6">Description:</span> {{ this_book.short_desc }}</p>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
</body>
</html>