{% extends "base.html" %}
{% block style %}
.panel {
background: white;
}

.panel-block {
display: flex;
}

.panel-block.folder {
display: flex;
justify-content: space-between;
}

.panel-block.folder div {
display: flex;
align-items: center;
}

.panel-block label {
word-wrap: break-word;
}

.panel-block-container {
overflow: auto;
max-height: 500px;
min-heigth: 350px;
display: flex;
flex-grow: 1;
flex-direction: column;
word-break: break-all;
}

.control.has-icons-right .icon {
pointer-events: auto;
}

.clear-search {
cursor: default;
}

.has-icons-right {
position: relative;
}
{% endblock %}
{% load directory_explorer_tags %}
{% block content %}
<div class="columns">
    <div class="column">
        <nav class="panel">
            <p class="panel-heading">
                Choose Files or Directories to process
            </p>
            <div class="panel-block">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" id="search-input" type="text" placeholder="Search">
                    <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="false"></i>
                    </span>
                    <span class="icon is-right clear-search">
                        <i class="fas fa-times" aria-hidden="false"></i>
                    </span>
                </p>
            </div>
            <label class="panel-block">
                <input type="checkbox" id="select-all-checkbox">
                Select All
            </label>
            <form action="{% url 'import' %}" method="POST">
                {% csrf_token %}
                <div class="panel-block-container">
                    {% include "directory_contents.html" %}
                </div>
                <div class="panel-block">
                    <button class="button is-link is-fullwidth">Next</button>
                </div>
            </form>
        </nav>
    </div>
</div>
{% endblock %}
{% block script %}
{% include "importer.js" %}
{% endblock %}