{% extends "base.html" %}
{% block content %}
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-header is-center">
                <div class="card-header-title">
                    <p class="title">Select input</p>
                </div>
            </div>
            <form action="/import/" method="POST">
                {% csrf_token %}
                <div class="card-content">
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <div class="select is-multiple is-fullwidth">
                                        <select multiple size="15" name="input_dir">
                                            {% for list_item in this_dir %}
                                            <option value="{{ list_item }}"><p>{{ list_item }}</p></option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="card-footer-item">
                        <div class="control">
                            <button class="button is-link is-fullwidth">Next</button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>
{% endblock %}