{% extends "base.html" %}
{% block content %}
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    <p class="title">Submit ASINs</p>
                </div>
            </div>
            <form action="/import/match" method="POST">
                {% csrf_token %}
                <div class="card-content">
                    {% for input in this_input %}
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-fullwidth" name="asin-{{ forloop.counter|add:"-1" }}" type="text" placeholder="{{ input.src_path }}" {% if input.asin %}value="{{ input.asin }}"{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <footer class="card-footer">
                    <div class="card-footer-item">
                        <div class="control">
                            <button class="button is-link is-fullwidth">Submit ASINs</button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>
{% endblock %}