{% extends "base.html" %}
{% load directory_explorer_tags %}
{% block style %}
.modal-card {
    position: fixed;
    top: 10%;
}

.modal-card-foot {
    display: flex;
    justify-content: space-between;
}

.notification {
    flex-grow: 1;
    text-align: left;
}

.image-label-container {
    display: flex;
    align-items: end;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.image-label-container label {
    line-break: anywhere;
}

.image-label-container img {
    width: 150px;
    border-radius: 10px;
}

{% endblock %}
{% block content %}
<div class="columns">
    <div class="column">
        <form action="{% url 'match' %}" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        <p class="title">Submit ASINs</p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="container">
                        {% for input in context %}
                        <div class="column is-grouped" id="asin-search-{{ forloop.counter|add:'-1' }}">
                            <div class="image-label-container">
                                <img src="" id="image-{{ forloop.counter|add:'-1' }}">
                                <label class="label">{{ input.src_path|basename }}</label>
                            </div>
                            <div class="field is-flex is-flex-direction-column">
                                <div class="control is-inline-flex is-align-items-center">
                                    <i class="fa fa-times mr-2" onclick="openRemoveConfirmationModal('{{ input.src_path|escapejs }}', '{{ forloop.counter|add:'-1' }}')"></i>
                                    <div class="select is-loading mr-3 is-fullwidth">
                                        <select class="asin-select" id="asin-select-{{ forloop.counter|add:'-1' }}" name="{{ input.src_path }}" onchange="updateImage('{{ forloop.counter|add:'-1' }}')">
                                            <option>{{ input.src_path }}</option>
                                        </select>
                                    </div>
                                    <button class="button is-link" type="button" onclick="openSearchPanel('{{ input.src_path|escapejs }}', 'asin-select-{{ forloop.counter|add:"-1" }}')">
                                    Custom Search
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="card-footer-item">
                        <div class="control">
                            <button class="button is-link is-fullwidth" id="match-form-submit">Submit ASINs</button>
                        </div>
                    </div>
                </footer>
            </div>
        </form>
    </div>
</div>

<!-- Modals -->
<div class="modal" id="custom-search-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title is-flex-shrink-1"></p>
            <button class="delete" aria-label="close" onclick="closeSearchPanel()"></button>
        </header>
        <section class="modal-card-body">
            <form>
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input class="input" type="text" id="title" placeholder="Title">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Author</label>
                    <div class="control">
                        <input class="input" type="text" id="author" placeholder="Author">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Keywords</label>
                    <div class="control">
                        <input class="input" type="text" id="keywords" placeholder="Keywords">
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <div class="notification is-warning" id="search-notification" style="margin: 10px; display: none;">
                No results found for this search...
            </div>
            <div style="padding-left: 10px;">
                <button class="button is-link"
                    onclick="searchAsin(document.getElementById('title').value, document.getElementById('author').value, document.getElementById('keywords').value)">Search</button>
                <button class="button" onclick="closeSearchPanel()">Cancel</button>
            </div>
        </footer>
    </div>
</div>

<div class="modal" id="remove-confirmation-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title is-flex-shrink-1"></p>
            <h2 class="title is-4" id="confirm-modal-title">Are you sure you want to remove this item?</h2>
            <button class="delete" aria-label="close" onclick="closeRemoveConfirmationModal()"></button>
        </header>
        <section class="modal-card-body">
            <div class="buttons is-flex is-justify-content-center">
                <button class="button is-danger" id="remove-column-button">Yes</button>
                <button class="button" onclick="closeRemoveConfirmationModal()">No</button>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block script %}
{% include "match.js" %}
{% endblock %}