<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bragi Books</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<section class="hero is-small is-warning">
		<nav class="level">
			<div class="hero-body">
				<p class="title">
					Bragi Books
				</p>
			</div>
			<nav class="breadcrumb is-medium is-right" aria-label="breadcrumbs">
				<ul>
					<li><a href="/import">Import</a></li>
					<li class="is-active" aria-current="page"><a class="has-text-weight-light" href="/import/match">Match</a></li>
					<li><a href="/import/confirm">Confirm</a></li>
				</ul>
			</nav>
		</nav>
	</section>
	<section class="section has-background-warning-dark">
		<div class="container">
			{% if messages %}
			<div class="notification is-danger">
				<ul>
					{% for message in messages %}
					<li>{{message}}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="block"></div> 
			{% endif %}
		</div>
		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="card">
						<div class="card-header">
							<div class="card-header-title">
								<p class="title">Submit ASINs</p>
							</div>
						</div>
						<form action="/import/get_asin" method="POST">
							{% csrf_token %}
							<div class="card-content">
								{% for input in this_input %}
								<div class="field is-horizontal">
									<div class="field-body">
										<div class="field">
											<div class="control">
												<input class="input is-fullwidth" name="asin-{{ forloop.counter|add:"-1" }}" type="text" {% if input.asin %}value="{{ input.asin }}"{% else %}placeholder="{{ input.src_path }}"{% endif %}>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<footer class="card-footer">
								<div class="card-footer-item">
									<div class="control">
										<button class="button is-link is-fullwidth">Submit ASINs</button>
									</div>
								</div>
							</footer>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>