name: Publish Docker image

on:
    workflow_dispatch:
    push:
        branches:
            - main
            - develop
        # Publish semver tags as releases.
        tags: ['v*.*.*']

jobs:
    push_to_registries:
        name: Push Docker image to multiple registries
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
        steps:
            - name: Check out the repo
              uses: actions/checkout@v3

            - name: Log in to Docker Hub
              uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Log in to the Container registry
              uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@60a0d343a0d8a18aedee9d34e62251f752153bdb
              with:
                  images: |
                      djdembeck/bragibooks
                      ghcr.io/${{ github.repository }}

            - name: Build and push Docker images
              uses: docker/build-push-action@a8d35412fb758de9162fd63e3fa3f0942bdedb4d
              with:
                  file: docker/Dockerfile
                  context: .
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
